## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis = 1, inplace = True) 

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 
                             'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 
                             'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1278', 'C1238', 
                             'C1237', 'C1235', 'C7210', 'C1720', 'C2400', 'C4100', 'C1257', 'C1600',
                             'C0', 'C1260', 'C2710', 'C1234', 'C1246', 'C1267', 'C3200', 'C1256', 
                             'C1370', 'C1236', 'C2190', 'C4200', 'C5200', 'C6100', 'C2600', 'C1248', 
                             'C1580', 'C1820', 'C1900', 'C2570', 'C1283', 'C3700', 'C2500', 'C1570', 
                             'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C4500', 'C1245', 
                             'C1245', 'C2561', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# preview application_df
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'AFFILIATION',
                                                         'ORGANIZATION', 'USE_CASE', 'SPECIAL_CONSIDERATIONS',
                                                         'INCOME_AMT'])

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train, Optimize and Evaluate the Model

In [13]:
# Define input_dim length
input_dims=len(X_train_scaled[0])
input_dims

43

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(input_dim=input_dims, units=16, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(input_dim=input_dims, units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                704

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 16)                272

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,265
Trainable params: 1,265
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 7s 5ms/step - loss: 0.5840 - accuracy: 0.7089
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5567 - accuracy: 0.7273
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7311
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7309
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7319
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7313
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7328
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7334
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7328
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7337
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7328
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7345
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7337
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7349
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7352
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7353
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7356
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7349
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7354
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7366
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7372
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7359
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7363
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7360
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7370
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7361
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7364
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7373
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7363
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7374
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7356
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7372
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7363
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7369
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7365

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5508 - accuracy: 0.7287 - 518ms/epoch - 2ms/step
Loss: 0.5507529377937317, Accuracy: 0.7287463545799255

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')